body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(99, 88, 88);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: 0;
    color: rgb(99, 88, 88);
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.display {
    font-size: 28pt;
    font-family: cursive;
}

#tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabs li a {
    padding: 0 0.5em;
}

.divider {
    border: none;
    border-right: 2px solid red;
    padding: 2em 2%;
}

ul#list {
    padding: 1em;
}

ul#list li {
    list-style: circle;
    margin-left: 20px;
    line-height: 1.5;
}

.header {
    display: flex;
    flex-direction: column;
}

.upper_menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 8px 3em;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 208, 208);
}

i {
    font-size: small;
    padding: 0 2% 0 7%;
}

#logo {
    cursor: pointer;
}

.um {
    flex: 1;
}

.nav {
    flex: 3;
}

.um:last-child {
    text-align: right;
}

.banner {
    position: relative;
    contain: content;
    text-align: center;
    height: 450px;
    width: 100%;
    background-image: linear-gradient( #fff, #fff, #fff, #fff, #fff, #fff, #fff, rgb(214, 208, 208), rgb(214, 208, 208));
}

.banner .cover {
    text-align: left;
    position: absolute;
    top: 10em;
    left: 5em;
    line-height: 2;
}

.banner_img {
    width: 60%;
    height: 450px;
    margin-right: 3em;
}

#underline {
    margin-top: 15px;
    width: 10em;
    border: none;
    border-bottom: 4px solid rgb(235, 7, 7);
}

.display {
    color: rgb(241, 8, 8);
}

#sub-display {
    color: rgb(153, 137, 137);
}

.main {
    display: flex;
    flex-direction: row;
    padding: 5em 15em;
}

.main .m {
    flex: 1;
}

.main .m:last-child {
    margin-left: 20px;
}

.sub_admission {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    border-radius: 1em;
    background-color: #eee;
}

.sub_a_img {
    margin-top: 30px;
    width: 350px;
    height: auto;
    border-radius: 1em;
}

.heading {
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
}

.describe {
    line-height: 2;
    text-align: justify;
}

.enquiry_btn {
    border: 1px solid red;
    width: fit-content;
    padding: 8px 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 3em;
    font-weight: bold;
}

.enquiry_btn:hover {
    background-color: rgb(241, 8, 8);
    color: #eee;
}

.main_2 {
    background-color: rgb(214, 208, 208);
}

#main_image {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 2px solid gray;
    border-radius: 25% 2% 25% 2%;
    contain: content;
}

ul li#why_item {
    list-style-type: circle;
}

.testimony {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.testimonial {
    box-sizing: border-box;
    background-color: #fff;
    flex: 1;
    padding: 2em;
    border-radius: 2em 0 0 2em;
    box-shadow: 2px 2px 6px rgb(235, 7, 7);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t_child {
    flex: 1;
}

.t_child:first-child {
    margin-right: 5px;
}

.t_child_img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
}

.testimonial:nth-child(even) {
    flex-direction: column;
    z-index: 100;
    position: relative;
    border-radius: 2em;
    margin: -3% -2%;
}

.testimonial:nth-child(even) .t_child:first-child {
    margin-right: 0;
    margin-bottom: 5px;
}

.testimonial:nth-child(even) .t_child_img {
    width: 140px;
    height: 150px;
}

.testimonial:last-child {
    margin-right: 0;
    border-radius: 0 2em 2em 0;
}

.footer {
    box-sizing: border-box;
    padding: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #111;
    color: #ccc;
}

.f_child {
    flex: 1;
}


/*  */